body {
    background-color: #6C6A6B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Inter';
}

:root{
    --primary: #6C6A6B;
    --secondary: #C8C6C7;
    --black: #000000;
    --white: #ffffff;
}

header {
    display:flex;
    justify-content: space-between;
    border-bottom: var(--secondary);
    border-bottom-width: 0.5rem;
    border-bottom-style: solid;
    height: 5rem;



}

header img{
    padding: 0.3rem;
}

header nav{
    display: flex;
    align-items: center;
}

header nav a{
    margin:0 1rem;
    text-decoration: none;
    color: var(--third)
}

header nav a:hover{
    font-weight: bold;
}

main img{
    display: block;
    margin: auto;
    animation: float 2s ease-in-out infinite;
}

@keyframes float{
    0%,100%{
        transform: translate(0);

    }
    50%{
        transform: translate(-50px);
    }
}


footer{
    height: 3.5rem;
    display: flex;
    align-items: center;
    background-color: var(--secondary);
}


footer img{
    margin: 0 0.5rem;

}

main {
    height: calc(100vh - 8.5rem);
}

main.index section{
    display: flex;
}

