body {
    background-color: #6C6A6B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Inter';
}

:root{
    --primary: #6C6A6B;
    --secondary: #C8C6C7;
    --black: #000000;
    --white: #ffffff;
}

header {
    display:flex;
    justify-content: space-between;
    border-bottom: var(--secondary);
    border-bottom-width: 0.5rem;
    border-bottom-style: solid;
    height: 5rem;



}

header img{
    top: -3845;
    left: 95p;
}

main section.estrela{
    top:-3772.39px;
    left:250.54px;


}

main section.kirby{
    top:-3825.65;
    left:651.61;
}