body {
    background-color: #6C6A6B;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Inter';
}

:root{
    --primary: #6C6A6B;
    --secondary: #C8C6C7;
    --black: #000000;
    --white: #ffffff;
}

header {
    display:flex;
    justify-content: space-between;
    border-bottom: var(--secondary);
    border-bottom-width: 0.5rem;
    border-bottom-style: solid;
    height: 5rem;



}

header img{
    padding: 0.3rem;
}

header nav{
    display: flex;
    align-items: center;
}

header nav a{
    margin:0 1rem;
    text-decoration: none;
    color: var(--third)
}

header nav a:hover{
    font-weight: bold;
}

footer{
    height: 3.5rem;
    display: flex;
    align-items: center;
    background-color: var(--secondary);
}


footer img{
    margin: 0 0.5rem;

}

main {
    height: calc(100vh - 8.5rem);
    display: grid;
    grid-template-columns: auto auto auto;
}

main.index section{
    display: flex;
}

main b{
    
    text-align: center;
    color: white;
    position: absolute;
    bottom: 10px; 
    left: 50%;
    transform: translateX(-50%);
}

body{
    cursor: url('imagem/Mario\ Star.cur'), auto;
}

.container {
    display: block;
    margin: auto;
}

.container img {
    display: inline-block;
    margin: 10px; /* Espaço entre as imagens */
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.imgz{
    width: 18.75rem;
    height: 13.01125rem;
}

.igmzk{
    width: 14.125remrem;
    height: 16.6875rem;
}

.capa{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banjoo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.legenda{
    text-align: center;
    color:#ffffff;
    font-size: 18px;
}

